@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

abbr.era{
	font-variant: all-small-caps;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

table{
	border-spacing: 1em 0;
	margin: 1em auto;
}

table thead td{
	vertical-align: bottom;
	border-bottom: 1px solid;
}

#endnotes table,
#chapter-2-1 table tbody td:nth-child(2),
#chapter-2-1 table tbody td:nth-child(3){
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#endnotes table tbody tr:last-child td{
	border-top: 1px solid;
}

@supports(display: flex){
	#chapter-2-1 table tbody tr:last-child td:first-child{
		align-items: center;
		display: flex;
	}

	#chapter-2-1 table tbody tr:last-child td:first-child p{
		display: initial;
	}
}

#chapter-2-1 table tbody tr:last-child td:first-child p:nth-child(2){
	font-size: 5ex;
}

#chapter-2-1 table tbody tr:last-child td:first-child p{
	text-indent: 0;
	display: inline-block;
}

#chapter-2-1 table thead td:nth-child(3){
	max-width: 10em;
}

#chapter-2-2 table tbody td:nth-of-type(odd){
	text-align: right;
}
